@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Gabarito&family=Lato&family=Montserrat:ital,wght@1,500&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Dancing+Script&family=Gabarito&family=Lato&family=Montserrat:ital,wght@1,500&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Dancing+Script&family=Gabarito&family=Lato&family=Montserrat:ital,wght@1,500&family=Open+Sans&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Roboto:wght@300&display=swap'); @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Dancing+Script:wght@400;700&family=Gabarito&family=Great+Vibes&family=Lato&family=Montserrat:ital,wght@1,500&family=Open+Sans&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Roboto:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Dancing+Script:wght@400;700&family=Gabarito&family=Great+Vibes&family=Lato&family=Montserrat:ital,wght@1,500&family=Open+Sans&family=Pacifico&family=Playpen+Sans:wght@600&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Roboto:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Dancing+Script:wght@400;700&family=Gabarito&family=Great+Vibes&family=Lato&family=Montserrat:ital,wght@1,500&family=Open+Sans&family=Pacifico&family=Permanent+Marker&family=Playpen+Sans:wght@600&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Roboto:wght@300&family=Satisfy&display=swap');  @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Dancing+Script:wght@400;700&family=Gabarito&family=Great+Vibes&family=Lato&family=Montserrat:ital,wght@1,500&family=Open+Sans&family=Pacifico&family=Permanent+Marker&family=Playpen+Sans:wght@600&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Roboto:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cinzel&family=Comfortaa:wght@300&family=Dancing+Script:wght@400;700&family=Gabarito&family=Great+Vibes&family=Lato&family=Montserrat:ital,wght@1,500&family=Open+Sans&family=PT+Sans&family=Pacifico&family=Permanent+Marker&family=Playpen+Sans:wght@600&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&family=Raleway:wght@200&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    /* background: rgba(50, 51, 71, 255); */
    background:  #7b0197;
}


#header {
    width: 100%;
    height: 100vh;
   background-position: center;
}

.container img{
    height: 50%;
    width: 50%;
    float: right;  
    margin-top: 10.5%;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    opacity: 1;
    transform: none;
    backdrop-filter: blur(3rem);
    z-index: 100;
    height: 6rem;
}

nav p {
   margin-left: 0.8rem;
   font-size: 2rem;
}

nav span {
    font-family: Permanent Marker;

}

nav ul {
    list-style: none;
    justify-content: right;  
    float: right;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    float: right;
}

nav ul li a:hover{
    transition-duration: 0.1s;
    color: black;
    font-size: 1.05rem;
}

.home {
    height: 25px;
    width: auto;
    background-color: white;
    border-radius: 5px;
    padding-right: 8px;
    padding-left: 8px;
    border: 0px solid white;
    box-shadow: 0px 0px 10px 0.85px rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 1;
    position: absolute;
    font-weight: bold;
}

li:hover .home {
   display: block; 
}



.content {
    position: absolute;
    color: antiquewhite;
    top: 40%;
    left: 4%;
    margin-top: 2rem;
}

.content .content-links a {
    text-decoration: none;
    color: #5f0e3e;
}

.content .content-links a:hover {
    color: #5c0b3c;
}


.content h3 {
    color: aliceblue;
    font-size: 2rem;
}

.content h1 {
    color: #bd699b;
    font-size: 2.5rem;
}

.content p {
    color: aliceblue;
}

.content-links{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    color:  #860753;;
    margin-left: -5%;
}

.content-links .git a {
    text-decoration: none;

}

.content-links i {
    font-size: 1.2rem;
}

.content-links .git {
    height: 30px;
    width: 30px;
    background: rgba(223, 223, 223, 0.867);
    box-shadow: 0px 0px 10px 0.85px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 5px;
    padding-left: 6px;
    border: 0px solid white;
}

.content-links .git:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0.85px aliceblue;
}

.content-links .linked-in {
    height: 30px;
    width: 30px;
    background: rgba(223, 223, 223, 0.867);
    box-shadow: 0px 0px 10px 0.85px rgba(255, 255, 255, 0.5);;
    border-radius: 50%;
    padding: 5px;
    padding-left: 6px;
    border: 0px solid white;
}

.content-links .linked-in:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0.85px aliceblue;
    color: #189AB4;
}

.content-links .mail {
    height: 30px;
    width: 30px;
    background: rgba(223, 223, 223, 0.867);
    box-shadow: 0px 0px 10px 0.85px rgba(255, 255, 255, 0.5);;
    border-radius: 50%;
    padding: 5px;
    padding-left: 6px;
    border: 0px solid white;
}

.content-links .mail:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0.85px aliceblue;
    color: #189AB4;
}


/* -----------ABOUT----------- */

#about img {
    height: 35rem;
    width: 35rem;
    margin-top: -5%
}

#about {
    padding: 80px 0;
    color: aliceblue;
}

.about-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-2 {
    flex-basis: 55%;
}

.row-2 p {
    padding-top: 5%;
    padding-left: 10%;
    opacity: 0.5;
    transform: none;
}

.about-content i {
    color: #75E6DA;
}

.about-content ul li{
   list-style: none;
   padding-top: 1rem;
   margin-left: 4.5rem;
} 

.about-content ul li a{
    padding-left: 1rem;
    
}

.about-content button{
    height: 2rem;
    width: 10rem;
    border-radius: 5px;
    border: 0px solid black;
    font-size: 1rem;
    margin-left: 4rem;
    margin-top: 3rem;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-weight: bold;
}

.about-content button a 
{
    color :#0a2735;
    text-decoration: none;
}

.about-content button:hover{
    box-shadow: none;
    font-size: 1.05rem;
}

/* ---------Skills -------------*/


.skill-content {
    display: flex;
    margin-left: 20%;
}


.skill-content .icon{
    height: 55px;
    width: 55px;
    background-color: aliceblue;
    transform: none;
    backdrop-filter: blur(2rem);
    margin-left: 5rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0px 0px 10px 0.85px rgba(255, 255, 255, 0.5);
    margin-top: 5rem;
    transform: none;
}

.skill-content .icon:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
    box-shadow: 0px 0px 10px 0.85px aliceblue;
   
}


.skill-content .icon i {
    font-size: 2.5rem;
    padding-top: 8px;
    padding-left: 10px;
}

.icon i .html{
    border-radius: 50%;
}

#skills h1 {
    color: aliceblue;
    text-align: center;
}


#skills img{
    height: 15%;
    width: 15%;
    float: right;
    margin-top: -130px;
}



/*--------------- PROJECT---------- */





#projects .project-img {
    height: 15rem;
    width: 15rem;
    margin-top: -150px;
}

#projects h1{
    color: aliceblue;
    text-align: center;
    margin-top: 8%;
}


.card {
    width: 250px;
    height: 350px;
    background-color: rgba(223, 223, 223, 0.85);
    display: inline-block;
    border-radius: 5px;
    border: 0px solid black;
    margin-left: 5%;
    margin-top: 8%;
}

 .card-container h4 {
    font-family:PT Sans;
    text-align: center;
    padding-top: 5px;

}

.card-container p {
    font-size: smaller;
    text-align: center;
    color: #189AB4;
    font-weight: bold;
}

.card:hover{
    transform: scale(1.1);
    transition: transform 1s;
    cursor: pointer;
}

#projects .card img {
    width: 100%;
    height: 70%;
    border-radius: 5px 5px 5px 5px;
}


/* ------------Contact------------ */


.contact-left h1 {
    color: aliceblue;
    text-align: center;
    margin-top: 8%;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: translateY(-5px);

}

.social-icon a:hover {
    color: #189AB4;
    transform: translateY(-5px);
}

form input, form textarea{
    border:0;
    width: 50%;
    
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
    display: center;
    margin-left: 45%; 
}

.contact-right {
    background: rgba(255, 255, 255, 0.23);
    opacity: 0.8;
    backdrop-filter: blur(30px);
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-bottom: 5rem;
    border-radius: 15px;
}

.contact-right img {
    height: 25rem;
    width: 25rem;
    margin-top: 0px;
    position: absolute;
}

.contact-right button{
    height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
    border: 0px solid black;
    font-size: 1rem;
    margin-left: 4rem;  
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-weight: bold;
    color:#0a2735;
    margin-left: 45%; 
  
}

.contact-right button:hover{
    background-color: white;
    font-size: 1.1rem;
}
.cards{
    margin-left: 5rem;
}